body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f2f2f2;
}

header {
  background-color: #2d3e50;
  color: white;
  text-align: center;
  padding: 30px;
}

h1 {
  font-size: 3em;
  margin: 0;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
}

ul {
  list-style: none;
  padding: 0;
}

.caracteristicas {
  text-align: center;
  margin-bottom: 50px;
}

.captura-pantalla {
  text-align: center;
  margin-bottom: 50px;
}

.captura-pantalla img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.descarga-programa {
  text-align: center;
}

.boton-descarga {
  display: inline-block;
  background-color: #2d3e50;
  color: white;
  text-align: center;
  padding: 20px;
  margin: 0 auto;
  text-decoration: none;
  font-weight: bold;
  border-radius: 100px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.boton-descarga:hover {
  background-color: #3e5064;
}

footer {
  background-color: #2d3e50;
  color: white;
  text-align: center;
  padding: 20px;
}
