body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    margin: 0 auto;
    width: 300px;
  }
  
  label {
    display: inline-block;
    width: 100px;
  }
  
  input[type="number"] {
    width: 150px;
    margin-bottom: 10px;
  }
  
  button {
    margin-top: 10px;
  }
  
  input[type="number"][readonly] {
    background-color: #ddd;
  }
  